/* 
    Author: Gabriel Solomon, 2021
    Adapted by: Ovan Chan

    please feel free to edit these comments.  Thank you! 
*/

// main colors for the web page
$bkg-color: #673e37;
$banner-color: #a79086;
$border-color: #6d031c;
$light-primary-color: #d2d2c9;

$font-color: #1b1210;

.header {
    background-color: $primary-color;
    padding: 30px;
}

#headerImage {
    height: 70px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}


.dogImage {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-color: $primary-color;
}


// sass test
.box {
    width: 200px;
    height: 200px;
}

.rowA {
    margin: 20px;
    padding: 30px;
}

.rowDog {
    justify-content: space-around;
    margin: 20px;
    padding: 30px;
}

.colLetter {
    align-items: flex-end;
}

//
// flexbox definitions
// students should not need to adjust these and your flebox should work
// as a responsive layout for multiple devices
//
.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

//
// test background colors
// students can add other colors, but should not need to adjust these
//
.test-red {
    background-color: red;
}

.test-yellow {
    background-color: yellow;
}

.test-blue {
    background-color: blue;
}

.test-orange {
    background-color: orange;
}

.test-pink {
    background-color: pink;
}

.test-green {
    background-color: green;
}

